.check-mark{
    position: absolute;
    right: 12px;
    top: 2px;
    cursor: pointer;
    color: #a3be8c;
    user-select: none;
    font-size: 1.5rem;
}
.task-container{
    display: flex;
    /* position: relative; */
    background-color: #eceff4;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    padding: 1rem;
    margin-top: 1rem;
}
.task-container.completed{
    background-color: #d8dee9;
    text-decoration: line-through;
    color: #4c566a;
}
.task-text{
    margin: 0;
    width: calc(100% - 30px);
    text-align: left;
}

.task-steps{
    background-color: #bf616a;
    padding: 1rem;
    width: calc(100% - 32px);
    left: 0;
    bottom: 0;

}

.step-wrapper{
    background: rgb(240, 240, 240);
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    text-align: left;
    padding: 0.5rem 1rem 1rem;
    border-top: 1px solid rgba(0,0,0,0.2);
}

.description-block{
    padding: 0 0.5rem;
}